body {
  margin: 0px;
  background-color: rgb(146, 168, 209);
  }

  h1 {
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
  }

/* grid 1 */
#board {
  width: 800px;
  height: 800px;
  background-color: white;
  margin: 100px auto;
  border-width: 100px;
  border-color: white;
}
.serenity, .rosequartz {
  float: left;
  width: 100px;
  height: 100px;
}
.serenity {
  background-color: rgb(146, 168, 209);
}
.rosequartz {
  background-color: rgb(247, 202, 201);
}

/* grid 2 */
.container {
  width: 900px;
}
  .header, .subheader, .column, .footer {
    background-color: rgb(247, 202, 201);
  }
  .header {
    width: 900px;
    height: 100px;
  }
  .subheader {
    width: 900px;
    height: 50px;
    margin: 25px
  }
  #threecolumn
  .column {
    width: calc((900px - 50px) / 3);
    height: 600px;
    float: left;
  }
  .footer {
    width: 900px;
    height: 100px;
    margin: 25px 0 0 0;
  }
  .margin {
    margin: 0 25px;
  }
