body {
  margin: 0;
  overflow: hidden;
}

.container {
  margin: -50px -10%;
  width 130vw;
}

.block-1, .block-2, .block-3 {
  width: 100px;
  height: 100px;
  float: left;
  opacity: .7;
}
.circle-1, .circle-2, .circle-3 {
  width: 100px;
  height: 100px;
  float: left;
  opacity: .7;
}

.block-1 {
  background-color: rgb(146, 168, 209);
  margin: 50px;
}
.block-2 {
  background-color: rgb(247, 202, 201);
  margin: -50px;
}
.block-3 {
  background-color: white;
  margin: -50px;
}

.circle-1, .circle-2, .circle-3 {
  border-radius: 50%;
  border: 10px solid black;
  float: left;
  width: 200px;
  height: 200px;
  border-color: black;
  margin: 0;
}
.circle-1 {
  border-color: rgb(146, 168, 209);
  margin: -25px;
}
.circle-2 {
  border-color: rgb(247, 202, 201);
  margin: -25px;
}
.circle-3 {
  border-color: silver;
  margin: -25px;
}
